.modal-wrapper {
  position: relative;
}

.modal-container {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  max-width: 900px;
  width: 100%;

  background-color: #ffffff;

  border-radius: 10px;
  z-index: 2;
  overflow: hidden;
}

.modal-overlay {
  bottom: 0;
  left: 0;
  position: fixed;
  right: 0;
  top: 0;

  pointer-events: auto;
  z-index: 1;
  background: rgba(255, 255, 255, 0.32);
}

.modal-close-button {
  background: none;
  border: none;
  cursor: pointer;

  position: absolute;
  right: 15px;
  top: 5px;

  font-size: 20px;
}
